<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('Login')}"></form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="hero_area">

  <form th:replace="~{CommonForm.html::header}"></form>
  <form th:replace="~{CommonForm.html::slider}"></form>
</div>
  <!-- about section -->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <br><br>
          <h3><b> About CarpoolingX</b></h3>
          <p>**CarpoolingX Application User Guide**

            Welcome to our Carpooling Application! Below are the instructions to help you navigate through the various features:</p>
          <p><b>1. **Creating a Travel:**</b>
          <p>
            - To create a travel, click on the "Create Travel" option on the home screen or dashboard.
            - Fill in the required details such as your starting point, destination, date, time, and any additional preferences you may have (e.g., smoking preference, pet-friendly, etc.).
            - Once you've filled in the details, confirm your travel plan, and it will be posted on the platform for others to see.
          </p>
          <p><b>2. **Attending a Travel:**</b>
          <p> - Browse through the available travels listed on the platform.
            - When you find a travel that matches your requirements, click on it to view the details.
            - If the travel suits your schedule and preferences, select the "Attend Travel" option.
            - You will receive confirmation once your request to attend the travel has been accepted by the creator.</p>
          <p><b>3. **Searching Travels:**</b>
          <p> - To search for travels, go to the search bar and input your desired start point and endpoint.
            - You can further refine your search by specifying dates, times, and any other preferences.
            - The platform will display a list of travels that match your search criteria.
          </p>
          <p><b>4. **Editing Your Profile:**</b>
          <p> - Click on the "Profile" or "My Account" section to access your profile settings.
            - Here, you can edit your personal information, contact details, and any other preferences such as smoking/non-smoking, pet-friendly, etc.
            - Make sure to save your changes after editing your profile.</p>
          <p><b> 5. **Leaving Feedback and Ratings:**</b>
          <p> - After completing a travel, you have the option to leave feedback and rate your driver or your passangers.
            - Navigate to the completed travel in your history or dashboard.
            - You can leave a written feedback describing your experience and rate the travel on a scale of 1 to 5 stars.
            - Your feedback and rating will help other users make informed decisions when choosing travel companions.
          </p>
          <h3><b></b></h3>
          <p>These are the basic instructions to get you started with our Carpooling Application. If you have any further questions or need assistance, feel free to reach out to our customer support team. Happy carpooling!</p>


        </div>
      </div>
    </div>
  </main>


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Copyright &copy; CarpoolingX
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  <script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</body>

</html>