<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<form th:replace="~{CommonForm.html::head('All Travels')}">


</form>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="../static/css/error.css" th:href="@{/css/error.css}" rel="stylesheet"/>
</head>

<body class="index-body">
<h1 class="index-h1">404</h1>
<div class="error">
    <h2>OOPS, SOMETHING WENT WRONG!</h2>
    <h3>The page you are looking for does not exist.</h3>
</div>

<a class="btn-err" style="margin: 5vmin" href="HomeView.html" th:href="@{/}">BACK</a>

</body>


</html>