<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('Login')}"></form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="hero_area">

    <form th:replace="~{CommonForm.html::header}"></form>
    <form th:replace="~{CommonForm.html::slider}"></form>
</div>
<div class="body-content">

</div>
<div class="body-content">
    <h2>Login</h2>
    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
        <label th:text="#{user.username}">Username</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <br/>
        <label class="label-error" th:errors="*{username}">Username error placeholder</label>
        <br/><br/>
        <label th:text="#{user.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <br/>
        <label class="label-error" th:errors="*{password}">Password error placeholder</label>
        <br/><br/>
        <div class="load-more-btn text-center mb-3">
            <a class="rbt-btn-link" href="RegisterView.html" th:href="@{/auth/register}">Don't have account? Sign up<i
                    class="feather-arrow-right"></i></a>
        </div>
        <br>
        <div class="book_section book_form btn-box button">
            <input class="book_section book_form btn-box button"
                   style="padding: 2px; background-color: #ff7070; color: #ffffff;"
                   type="submit" value="Login"/>
        </div>
    </form>
</div>
<form th:replace="~{CommonForm.html::footer}"></form>
</body>
</html>