<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('All Travels')}">

</form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<body>
<div class="hero_area">
    <form th:replace="~{CommonForm.html::header}"></form>
    <form th:replace="~{CommonForm.html::slider}"></form>
</div>

<form method="get" th:object="${travelFilterOptions}" th:action="@{/travels}" action="#">
    <section class="book_section ">
        <div class="container">
            <div class="col-md-11 col=lg-9 mx-auto px-0">
                <div class="book_form ">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input class="form-control-lg" th:field="*{startPoint}"
                                           placeholder="Pickup Location ">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input class="form-control-lg" th:field="*{endPoint}"
                                           placeholder="Drop Location ">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                        </div>
                                    </div>
                                    <select th:field="*{sortBy}">
                                        <option value="">SortBy</option>
                                        <option value="startPoint">Pickup Location</option>
                                        <option value="endPoint">Drop Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                        </div>
                                    </div>

                                    <select th:field="*{orderBy}">
                                        <option value="">OrderBy</option>
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="btn-box">
                            <button type="submit" class="">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</form>


<div class="body-content" th:if="${travels.isEmpty()}">
    <h2 th:text="#{travels.title.empty}">No Travels</h2>
</div>
<div class="body-content" th:unless="${travels.isEmpty()}">
    <h2 th:text="#{travels.title}">"All Travels"</h2>

    <div class="table">
        <div class="header">
            <div class="header-cell" th:text="#{travels.driver}">Driver(Rating)</div>
            <div class="header-cell" th:text="#{travels.startPoint}">Starting Point</div>
            <div class="header-cell" th:text="#{travels.endPoint}">Ending Point</div>
            <div class="header-cell" th:text="#{travels.departureTime}">Departure Time</div>
            <div class="header-cell" th:text="#{travels.freeSpots}">Free Spots</div>
            <div class="header-cell" th:text="#{travels.button.details}">Details</div>
        </div>
        <div class="rowGroup" th:if="${isAuthenticated == true && (session.currentUser != travel.getCreator())}"
             th:each="travel : ${travels}">
            <div class="cell" th:text="${travel.creator}">Driver(Rating)</div>
            <div class="cell" th:text="${travel.startPoint}">Starting Point</div>
            <div class="cell" th:text="${travel.endPoint}">Ending Point</div>
            <div class="cell" th:text="${travel.departureTime}">Departure Time</div>
            <div class="cell" th:text="${travel.freeSpots}">FreeSpots</div>
            <a class="link-info" href="#" th:href="@{/travels/{id}(id=${travel.getTravelId()})}"
               th:text="#{travels.button.details}">Details</a>
        </div>
    </div>
    <div class="table-borderless">
        <div class="rowGroup">
            <div class="cell"> Page:</div>
            <div class="cell align-content-lg-center">
                <a th:if="${currentPage>1}" th:href="@{'/travels?page=' + ${currentPage - 2}}"><<</a>

            </div>
            <div class="cell align-content-lg-center">
                <span>
<!--                    <a th:if="${currentPage != i}" th:href="@{'/travels?page=' + ${i}}">[[${i}]]</a>-->
                    <span th:if="${currentPage>0}">[[${currentPage}]]</span>
                </span>
            </div>
            <div class="cell align-content-lg-center">
                <a th:href="@{'/travels?page=' + ${currentPage}}">>></a>
                <!--                <span th:unless="${currentPage == totalPages}"></span>-->
            </div>
        </div>
    </div>
</div>
<form th:replace="~{CommonForm.html::footer}"></form>
</body>
</html>