<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Travels</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div th:if="${travels.isEmpty()}">
    <h2 th:text="#{travels.title.empty}">No Travels</h2>
</div>
<div th:unless="${travels.isEmpty()}">
    <h2 th:text="#{travels.title}">"All Travels"</h2>

    <div class="table">
        <div class="header">
    <div class="header-cell" th:text="#{travels.startPoint}">Starting Point</div>
    <div class="header-cell" th:text="#{travels.endPoint}">Ending Point</div>
    <div class="header-cell" th:text="#{travels.departureTime}">Departure Time</div>
    <div class="header-cell" th:text="#{travels.freeSpots}">Free Spots</div>
    <div class="header-cell" th:text="#{travels.button}">Button</div>
        </div>
        <div class="rowGroup" th:each="travel : ${travels}">
            <div class="cell" th:text="${travel.startPoint}">Starting Point</div>
            <div class="cell" th:text="${travel.endPoint}">Ending Point</div>
            <div class="cell" th:text="${travel.departureTime}">Departure Time</div>
            <div class="cell" th:text="${travel.freeSpots}">FreeSpots</div>
            <div class="ui-button" th:text="#{travels.button.apply}">Apply</div>
        </div>
    </div>
</div>
</body>
</html>