<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('All Travels')}"></form>

<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="hero_area">
    <form th:replace="~{CommonForm.html::header}"></form>
    <form th:replace="~{CommonForm.html::slider}"></form>
</div>
<div class="col-md-8 col-xl-6 mx-auto">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card rounded">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="ms-2 text-center">
                                <div class="table-borderless">
                                    <div class="header-cell">
                                        <div class="row" th:text="#{travels.destinations}">Destination:</div>
                                    </div>
                                    <div class="header-cell">
                                        <div class="green" th:text="${travel.getStartPoint()}">Start Point</div>
                                    </div>
                                    <div class="header-cell">
                                        <div class="green"> -</div>
                                    </div>
                                    <div class="header-cell">
                                        <div class="blue" th:text="${travel.getEndPoint()}">End Point</div>
                                    </div>
                                    <div class="rowGroup">

                                        <div class="cell">
                                            <img th:src="'https://icons.veryicon.com/png/o/transport/transport-4/driver-8.png'"
                                                 alt="Creator Icon" width="20" height="20">
                                            <div class="cell" th:text="#{travels.driver}">Driver</div>
                                            <div th:text="${travel.getUserId().username}">Created By</div>
                                        </div>
                                        <div class="cell">
                                            <img th:src="'https://icons.veryicon.com/png/o/miscellaneous/evm-applet/watch-14.png'"
                                                 alt="Watch icon" width="20" height="20">
                                            <div class="cell" th:text="#{travels.departureTime}">Departure</div>
                                            <div th:text="${travel.getDepartureTime()}">
                                                Departure Time
                                            </div>
                                        </div>
                                        <div class="cell">
                                            <img th:src="'https://icons.veryicon.com/png/o/miscellaneous/heg-aircraft-and-hotel-function-icons/seat.png'"
                                                 alt="Seat icon" width="20" height="20">
                                            <div class="cell" th:text="#{travels.freeSpots}">Free spots</div>
                                            <div th:text="${travel.getFreeSpots()}">Free spots</div>
                                        </div>

                                        <div class="cell">
                                            <img th:src="'https://icons.veryicon.com/png/o/miscellaneous/50-position-element-icons/distance-21.png'"
                                                 alt="Distance icon" width="20" height="20">
                                            <div class="cell" th:text="#{travels.distance}">Distance</div>
                                            <div th:text="${travel.getDistanceTravel()} + km">Distance</div>
                                        </div>
                                        <div class="cell">
                                            <img th:src="'https://icons.veryicon.com/png/o/miscellaneous/test-10/duration-8.png'"
                                                 alt="Duration icon" width="20" height="20">
                                            <div th:text="#{travels.duration}">Duration</div>
                                            <div class="cell" th:text="${travel.getDurationTravel()} + ' minutes'">
                                                Duration
                                            </div>
                                        </div>

                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            // Function to convert minutes to hours:minutes format
                                            function formatDuration(minutes) {
                                                const hours = Math.floor(minutes / 60);
                                                const remainingMinutes = minutes % 60;
                                                return hours + ' h ' + (remainingMinutes < 10 ? '0' : '') + remainingMinutes + ' min';
                                            }

                                            // Update text content using JavaScript after page load
                                            window.addEventListener('DOMContentLoaded', function () {
                                                var durationElements = document.querySelectorAll('.cell'); // Get all elements with class 'cell'
                                                durationElements.forEach(function (element) {
                                                    var minutes = parseInt(element.textContent); // Get the duration in minutes from text content
                                                    if (!isNaN(minutes)) {
                                                        // If the content is a valid number, convert it to hours:minutes format
                                                        element.textContent = formatDuration(minutes);
                                                    }
                                                });
                                            });
                                            /*]]>*/
                                        </script>
                                    </div>
                                </div>
                                <div class="row-cols-xl-auto">

                                    <div class="caption" th:text="#{travels.comment}">Comment:</div>
                                    <div th:text="${travel.getTravelComment()}">Comment</div>
                                </div>
                                <div class="rowGroup">
                                    <div th:text="#{travels.actions}"
                                         th:if="${isAuthenticated==true &&
                                         (session.isAdmin || session.userId == travel.getUserId().userId)}">Travel
                                        Actions
                                    </div>
                                    <div class="cell">
                                        <div th:if="${isAuthenticated==true && (session.userId == travel.getUserId().userId)}">
                                            <div>
                                                <form action="#"
                                                      th:action="@{/travels/update/{id}(id=${travel.travelId})}"
                                                      th:object="${travelUpdate}"
                                                      method="post">
                                                    <input type="submit" value="Update "/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <div th:if="${isAuthenticated==true && (session.userId == travel.getUserId().userId
                            || (session.isAdmin))}">
                                            <div>
                                                <form action="#"
                                                      th:action="@{/travels/delete/{id}(id=${travel.travelId})}"
                                                      th:object="${travelDelete}"
                                                      method="get">
                                                    <input type="submit" value="  Delete Travel "/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <div th:if="${isAuthenticated==true && (session.userId == travel.getUserId().userId
                            || (session.isAdmin))}">
                                            <div>
                                                <form action="#"
                                                      th:action="@{/travels/cancel/{id}(id=${travel.travelId})}"
                                                      th:object="${travelCancel}"
                                                      method="get">
                                                    <input type="submit" value="  Cancel Travel "/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rowGroup"
                                     th:if="${isAuthenticated == true && session.userId==travel.getUserId().userId}"
                                     th:each="candidate: ${candidates}">
                                    <div th:text="#{travels.applied.users}">Applied Users:</div>
                                    <a class="link-info" href="#"
                                       th:href="@{/users/{id}(id=${candidate.getUser().getUserId()})}">
                                        <div class="cell" th:text="*{candidate.getUser().username}"> Username</div>
                                    </a>
                                    <div class="cell">
                                        <div th:if="*{candidate.getStatus() == T(org.example.carpooling.models.enums.CandidateStatus).PENDING}">
                                            <div th:text="*{candidate.getStatus()}">Status</div>
                                            <form action="#" th:action="@{/candidates/approve/{candidateId}/travel/{travelId}
                                            (candidateId=${candidate.getId()}, travelId=${travel.travelId})}"
                                                  method="post">
                                                <input type="submit" value="  Approve  "/>
                                            </form>
                                        </div>
                                        <div th:if="*{candidate.getStatus() != T(org.example.carpooling.models.enums.CandidateStatus).PENDING}">
                                            <div th:text="*{candidate.getStatus()}">Status</div>
                                        </div>
                                    </div>
                                    <div class="cell">
                                        <div th:if="*{candidate.getStatus() == T(org.example.carpooling.models.enums.CandidateStatus).PENDING}">
                                            <div th:text="*{candidate.getStatus()}">Status</div>
                                            <form action="#" th:action="@{/candidates/reject/{candidateId}/travel/{travelId}
                                            (candidateId=${candidate.getId()}, travelId=${travel.travelId})}"
                                                  method="post">
                                                <input type="submit" value="  Reject  "/>
                                            </form>
                                        </div>
                                        <div th:if="*{travel.getTravelStatus() == T(org.example.carpooling.models.enums.TravelStatus).COMPLETED
                                        && !candidate.isHasGivenFeedback()}">
                                            <form action="#" th:action="@{/feedbacks/new/travel:{travelId}/user:{receiverUserId}
                                            (travelId=${travel.getTravelId()}, receiverUserId=${candidate.getUser().getUserId()})}"
                                                  method="post">
                                                <input type="submit" value="  Give Feedback  "/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<footer>
<form th:replace="~{CommonForm.html::footer}"></form>
</footer>
</body>
</html>