<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('All Travels')}">

</form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<body>
<div class="hero_area">
    <form th:replace="~{CommonForm.html::header}"></form>
    <form th:replace="~{CommonForm.html::slider}"></form>
</div>
<form th:replace="~{CommonForm.html::searchTravel}"></form>

<div class="body-content" th:if="${travels.isEmpty()}">
    <h2 th:text="#{travels.title.empty}">No Travels</h2>
</div>
<div class="body-content" th:unless="${travels.isEmpty()}">
    <h2 th:text="#{travels.title}">"All Travels"</h2>

    <div class="table">
        <div class="header">
            <div class="header-cell" th:text="#{travels.startPoint}">Starting Point</div>
            <div class="header-cell" th:text="#{travels.endPoint}">Ending Point</div>
            <div class="header-cell" th:text="#{travels.departureTime}">Departure Time</div>
            <div class="header-cell" th:text="#{travels.freeSpots}">Free Spots</div>
            <div class="header-cell" th:text="#{travels.button}">Button</div>
        </div>
        <div class="rowGroup" th:if="${isAuthenticated && !(session.userId eq travel.userId)}" th:each="travel : ${travels}">
            <div class="cell" th:text="${travel.startPoint}">Starting Point</div>
            <div class="cell" th:text="${travel.endPoint}">Ending Point</div>
            <div class="cell" th:text="${travel.departureTime}">Departure Time</div>
            <div class="cell" th:text="${travel.freeSpots}">FreeSpots</div>
            <div class="ui-button" th:text="#{travels.button.apply}">Actions</div>
        </div>
    </div>
    <div class="table-borderless">
        <div class="rowGroup">
            <div class="cell align-content-lg-center">
                <a th:if="${currentPage>1}" th:href="@{'/travels?page=' + ${currentPage - 2}}"><<</a>

            </div>
            <div class="cell align-content-lg-center">
                <span>
<!--                    <a th:if="${currentPage != i}" th:href="@{'/travels?page=' + ${i}}">[[${i}]]</a>-->
                    <span th:if="${currentPage>0}">[[${currentPage}]]</span>
                </span>
            </div>
            <div class="cell align-content-lg-center">
                <a th:href="@{'/travels?page=' + ${currentPage}}">>></a>
<!--                <span th:unless="${currentPage == totalPages}"></span>-->
            </div>
        </div>
    </div>
</div>
<form th:replace="~{CommonForm.html::footer}"></form>
</body>
</html>