<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<form th:replace="~{CommonForm.html::head('All Travels')}">


</form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<body>
<div class="hero_area">
    <form th:replace="~{CommonForm.html::header}">

    </form>

        <section class="py-1">
            <div class="table-container">

                    <div class="col-lg-50 me-lg-center">
                        <div class="card border-auto shadow mb-6 mb-lg-0">
                            <div class="card-header bg-grey py- border-0 text-center">
                                <a class="d-inline-block" href="#">
                                    <img class="my-custom-image" th:src="${profilePictureUrl}" alt="profile pic"></a>
                                <br>
                                <br>
                                <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>
                                <hr>
                                <div class ="card-body p-1">
                                    <div class="d-flex align-items-left mb-2">
                                        <div>
                                            <p class="mb-1" th:text="${completedCountAsDriver + ' times a driver   '}"></p>
                                        </div></div>


                                     <div class="d-flex align-items-right mb-2">
                                        <div>
                                            <p class="mb-1" th:text="${completedCountAsPassenger + ' times a passenger'}"></p>
                                        </div>
                                    </div>

                                    <p class="text-muted text-sm mb-0">
                                        Rating:
                                        <br>
                                        <span th:if="${feedbackService.getAverageRatingForUser(user) == null}">
                    Not Rated Yet </span>

                                        <span th:unless="${feedbackService.getAverageRatingForUser(user) == null}">
                        <span th:text="${feedbackService.getAverageRatingForUser(user)}"></span>
                    </span>
                                    <div class="mb-6">
                                    <span th:if="${feedbackService.getAverageRatingForUser(user) >= 3.00}"
                                          th:each="star: ${#numbers.sequence(1, 5)}"
                                          th:class="${feedbackService.getAverageRatingForUser(user) > (star - 1) ? 'text-success' : 'text-gray-200'}">★</span>
                                        <span th:if="${feedbackService.getAverageRatingForUser(user) >= 2.00 &amp;&amp; feedbackService.getAverageRatingForUser(user) < 3.00}"
                                              th:each="star: ${#numbers.sequence(1, 5)}"
                                              th:class="${feedbackService.getAverageRatingForUser(user) > (star - 1) ? 'text-warning' : 'text-gray-200'}">★</span>
                                        <span th:if="${feedbackService.getAverageRatingForUser(user) < 2.00}"
                                              th:each="star: ${#numbers.sequence(1, 5)}"
                                              th:class="${feedbackService.getAverageRatingForUser(user) > (star - 1) ? 'text-danger' : 'text-gray-200'}">★</span>
                                    </div>
                                    <div class="card-header bg-gray-500 py-8 border-0 text-left">
                                        <hr>
                                <ul class="card-text text-muted">
                                    <li>
                                        <p th:text="${user.email}"></p>
                                    </li>
                                    <li>
                                        <p th:text="${user.phoneNumber}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                            </div>
<!--                <section class="table-right">-->
<!--                                <span th:text="${user.getFirstName()}"></span>'s Rides</h4>-->
<!--                            <div class="row">-->
<!--                                &lt;!&ndash; place item&ndash;&gt;-->
<!--                                <div class="container-fluid">-->
<!--                                    <div th:if="${#lists.isEmpty(listings)}" class="d-flex justify-content-center align-items-center py-5">-->
<!--                                        <p class="text-center">No Open Rides</p>-->
<!--                                    </div>-->
<!--                                    <div th:unless="${#lists.isEmpty(listings)}" class="swiper-container swiper-container-mx-negative home-slider-no-loop px-lg-5 pt-3">&lt;!&ndash; Slider main container&ndash;&gt;-->

<!--                                        &lt;!&ndash; Additional required wrapper&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                </section>-->

                            <div class="card-body">
                            <div class="container">
                                <div class="text-center pb-lg-4">
                                    <p class="subtitle text-sm text-primary">Feedbacks    </p>
                                    <h5 class="mb-4">Ride Feedbacks </h5>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div th:if="${#lists.isEmpty(feedbacksReceived)}" class="d-flex justify-content-center align-items-center py-5">
                                    <p class="text-center">No Feedbacks yet</p>
                                </div>
                                <!-- Slider main container-->
                                <div  th:unless="${#lists.isEmpty(feedbacksReceived)}" class="swiper-container swiper-container-mx-negative home-slider-no-loop px-lg-5 pt-3">
                                    <!-- Additional required wrapper-->
                                    <div class="swiper-wrapper pb-5">
                                        <!-- Slides-->
                                        <div th:each="feedback : ${feedbacksReceived}" class="swiper-slide h-auto px-2">

                                            <div class="swiper-slide h-auto px-2">
                                                <div class="d-flex d-block d-sm-flex review">
                                                    <div class="text-md-center flex-shrink-0 me-4 me-xl-5">
                                                        <a th:href="@{/users/{userId}(userId=${feedback.giver.getUserId()})}">
                                                            <img th:src="${feedback.giver.getProfilePictureUrl()}" class="my-custom-image rounded-circle"
                                                                 alt="user">
                                                            <div class="w-100">
                                                            <div class="d-flex justify-content-between" th:text="${feedback.getGiver().getFirstName() + ' ' + feedback.getGiver().getLastName() }"></span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="card-feedback-custom">
                                                        <p>
                                                            <span th:if="${feedback.rating >= 3.00}" th:each="star: ${#numbers.sequence(1, 5)}" th:class="${feedback.rating &gt; (star - 1) ? 'text-success' : 'text-gray-200'}">&#9733;</span>
                                                            <span th:if="${feedback.rating >= 2.00 && feedback.rating < 3.00}" th:each="star: ${#numbers.sequence(1, 5)}" th:class="${feedback.rating &gt; (star - 1) ? 'text-warning' : 'text-gray-200'}">&#9733;</span>
                                                            <span th:if="${feedback.rating < 2.00}" th:each="star: ${#numbers.sequence(1, 5)}" th:class="${feedback.rating &gt; (star - 1) ? 'text-danger' : 'text-gray-200'}">&#9733;</span>
                                                        </p>
<!--                                                        <div class="mb-2"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i>-->
<!--                                                        </div>-->
                                                        <p class="text-muted text-sm" th:text="${feedback.comment}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            </div>
                        </section>
                 </table>
                    </div>

</body>
</html>