<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{CommonForm.html::head('Register')}"></form>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<div class="hero_area">
    <form th:replace="~{CommonForm.html::header}"></form>
    <form th:replace="~{CommonForm.html::slider}"></form>
    </div>

<div class="body-content" th:if="${isAuthenticated && session.isAdmin}">
    <form class="book_section" action="#" th:action="@{/users}" th:object="${userFilterOptions}" method="get">
        <section>
            <div class="container">
                <div class="col-md-12 col=lg-9 mx-auto px-0">
                    <div class="book_form ">
                        <!--                            <form>-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input class="form-control" th:field="*{keyword}"
                                           placeholder="Username/Phone number/E-mail">
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <img th:src="'https://icons.veryicon.com/png/o/system/alibaba-cloud-console-official-icon-library/sort-45.png'"
                                                 alt="OrderBy Icon" width="20" height="20">
                                        </div>
                                    </div>

                                    <select th:field="*{sortBy}">
                                        <option value="username">Username</option>
                                        <option value="firstName">First name</option>
                                        <option value="lastName">Last name</option>
                                        <option value="email">E-mail</option>
                                        <option value="phoneNumber">Phone number</option>
                                        <option value="isAdmin">Admin</option>
                                        <option value="userStatus">User status</option>
                                    </select>
                                </div>

                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <img th:src="'https://icons.veryicon.com/png/o/commerce-shopping/excellent-fresh-crm/order-54.png'"
                                                 alt="OrderBy Icon" width="20" height="20">
                                        </div>
                                    </div>
                                    <select th:field="*{orderBy}">
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="btn-box">
                            <button type="submit" class="">Search</button>
                        </div>
                        <!--                            </form>-->
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div th:if="${users.isEmpty()}">
        <h2 th:text="#{users.title.empty}">No Users</h2>
    </div>

    <div th:unless="${users.isEmpty()}">
        <h2 th:text="#{users.title}">All Users</h2>
    </div>


    <div class="table">
        <div class="header">
            <div class="header-cell" th:text="#{user.username}">Username</div>
            <div class="header-cell" th:text="#{user.firstName}">First Name</div>
            <div class="header-cell" th:text="#{user.lastName}">Last Name</div>
            <div class="header-cell" th:text="#{user.email}">Email</div>
            <div class="header-cell" th:text="#{user.phoneNumber}">Phone number</div>
            <div class="header-cell" th:text="#{user.status}">Status</div>
            <div class="header-cell" th:text="#{user.deleted}">Deleted</div>
            <div class="header-cell" th:text="#{user.admin}">Admin</div>
        </div>

        <div class="rowGroup" th:each="user : ${users}"
             th:with="isBlockedOrDeleted=${user.status == T(org.example.carpooling.models.enums.UserStatus).BLOCKED ||
             user.status == T(org.example.carpooling.models.enums.UserStatus).DELETED }"
        >
            <div class="cell">
                <a class="link-info" href="#" th:href="@{/users/{id}(id=${user.id})}"
                   th:text="${user.username}">Username</a>
            </div>
            <div class="cell" th:text="${user.firstName}">First Name</div>
            <div class="cell" th:text="${user.lastName}">Last Name</div>
            <div class="cell" th:text="${user.email}">Email</div>
            <div class="cell" th:text="${user.phoneNumber}">Phone number</div>
            <div class="cell" th:if="${user.status == T(org.example.carpooling.models.enums.UserStatus).BLOCKED}">
                <a class="link-info" th:href="@{/users/unblock/{id}(id=${user.getId()})}"
                   th:text="${user.getStatus()}"> </a>
            </div>
            <div class="cell" th:if="${user.status == T(org.example.carpooling.models.enums.UserStatus).ACTIVE}">
                <a class="link-info" th:href="@{/users/block/{id}(id=${user.getId()})}" th:text="${user.status}"> </a>
            </div>
            <div class="cell" th:if="${user.status == T(org.example.carpooling.models.enums.UserStatus).PENDING
            || user.status == T(org.example.carpooling.models.enums.UserStatus).DELETED}">
                <a th:text="${user.status}"> </a>
            </div>

            <div class="cell" th:if="${user.status == T(org.example.carpooling.models.enums.UserStatus).DELETED}">
                <a th:text='DELETED'> </a>
            </div>
            <div class="cell" th:if="${user.status != T(org.example.carpooling.models.enums.UserStatus).DELETED}">
                <a class="link-info" th:href="@{/users/delete/{id}(id=${user.id})}"
                   th:text='DELETE'> </a>
            </div>

            <div class="cell" th:if="${!isBlockedOrDeleted && user.isAdmin()  }">
                <a class="link-info" th:href="@{/users/unmakeAdmin/{id}(id=${user.id})}" th:text='UNMAKE'> </a>
            </div>
            <div class="cell" th:if="${!isBlockedOrDeleted  && !user.isAdmin()}">
                <a class="link-info" th:href="@{/users/makeAdmin/{id}(id=${user.id})}"
                   th:text='MAKE'> </a>
            </div>
            <div class="cell" th:if="${isBlockedOrDeleted}">
                <a th:text="${user.status}"> </a>
            </div>
        </div>
        <div class="table-borderless">
            <div class="rowGroup">
                <div class="cell"> Page:</div>
                <div class="cell align-content-lg-center">
                    <a th:if="${currentPage>0}"
                       th:href="@{/users?page={page}&size={size}&keyword={keyword}&sortBy={sortBy}&orderBy={orderBy}
                    (page=${currentPage-1},
                    size=${previousFilterOptions.getSize()},
                    keyword=${previousFilterOptions.getKeyword()},
                    sortBy=${previousFilterOptions.getSortBy()},
                    orderBy=${previousFilterOptions.getOrderBy()},
                    )
                    }">
                        <<
                    </a>

                </div>
                <div class="cell align-content-lg-center">
                <span>
                    <span th:if="${currentPage>=0}">[[${currentPage+1}]]</span>
                </span>
                </div>
                <div class="cell align-content-lg-center">
                    <a th:if="${currentPage + 1 < totalPages}"
                       th:href="@{/users?page={page}&size={size}&keyword={keyword}&sortBy={sortBy}&orderBy={orderBy}
                    (page=${currentPage+1},
                    size=${previousFilterOptions.getSize()},
                    keyword=${previousFilterOptions.getKeyword()},
                    sortBy=${previousFilterOptions.getSortBy()},
                    orderBy=${previousFilterOptions.getOrderBy()},
                    )
                    }">
                        >>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>